.nav-tabs .nav-link.active {
    background-color: #6195e8 !important; /* Active tab color */
    color: white;
    border: #218838;

}
.nav-tabs .nav-link {
    color: black;
    font-weight: bold;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    padding: 1rem !important;
}

.page2-container {
    max-width: 100%;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.subtext {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.tab-container .nav-link {
    font-weight: bold;
}

.section {
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #777;
}