.manage-container {
    max-width: 100%;
    margin: auto;
    padding: 24px;
   
   
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.manage-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.manage-container p {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

/* Options Container */
.manage-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Each Option Styling */
.each-option {
    display: flex;
    align-items: center;
    padding: 14px;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease;
}

.each-option:active{
    background: #eef3ff;
    border-color: #006aff;
}


/* Icon Wrapper */
.opt-img {
    width: 48px;
    height: 48px;
   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-right: 14px;
    flex-shrink: 0;
}

/* Description */
.opt-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.opt-description h5 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    border: 1px solid red;
    margin: 0;
}

.opt-description p {
    font-size: 13px;
    color: #666;
    margin-top: 4px;
    line-height: 1.4;
}
.error-text {
    color: red;
    /* border: 1px solid red; */
    font-size: 14px;
    margin-top: 5px;
  }
  
  .selected{
    border-color: #007bff;
    background: #f0f7ff;

  }


/* Responsive */
@media (max-width: 576px) {
    .manage-container {
        width: 90%;
        padding: 20px;
    }

    .each-option {
        flex-direction: row;
        text-align: left;
        padding: 12px;
    }

    .opt-img {
        margin-bottom: 0;
    }
}
